<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Requisition Form</title>
    <style>
        html, body {
            background-color: transparent !important;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 30px;
        }
        .header-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
        }
        .logo {
            /* background-image: url("http://localhost:3000/song-nam-logo.jpg"); */
            background-image: url('<%= logoBase64 %>');
            background-size: contain;
            background-position: center; 
            background-repeat: no-repeat;
        }
        /* .header-table td:nth-child(1) {
            width: 40%;
        }
        .header-table td:nth-child(2) {
            width: 20%;
        }
        .header-table td:nth-child(3),
        .header-table td:nth-child(5) {
            width: 15%;
        }
        .header-table td:nth-child(4),
        .header-table td:nth-child(6) {
            width: 25%;
        } */
        .header-table td {
            border: 1px solid #000;
            padding: 10px;
            text-align: center; 
        }
        .column {
            flex: 1;
            text-align: left;
            padding: 0 10px;
        }
        .infor-container {
            display: flex;
        }
        .infor-item {
            flex: 50%;
            padding: 5px 0 10px 0;
        }
        .infor-item div {
            padding-bottom: 8px;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .table th:nth-child(1) {
            width: 5%;
        }

        .table th:nth-child(2) {
            width: 35%;
        }

        .table th:nth-child(3) {
            width: 20%;
        }

        .table th:nth-child(4) {
            width: 7%;
        }

        .table th:nth-child(5) {
            width: 8%;
        }

        .table th:nth-child(6) {
            width: 25%;
        }

        .table th, .table .item {
            border: 1px solid #000;
            padding: 5px;
            text-align: center;
        }
        .table th {
            background-color: #00B050;
            color: #FFFFFF;
        }
        .name-item, .description-item {
            text-align: left;
            border: 1px solid #000;
            padding: 5px;
            text-wrap: wrap;
        }
    </style>
</head>
<body>
    <div class="container">
        <table class="header-table">
            <tr>
                <td class="logo" rowspan="2" style="width: 38%; height: 100px;">
                    <!-- <h1><%= companyName %></h1> -->
                     <!-- <img src="http://localhost:3000/song-nam-logo.jpg" width="50%"> -->
                </td>
                <td rowspan="2" style="width: 19%;">
                    <h2>PHIẾU YÊU CẦU<br>VẬT TƯ</h2>
                </td>
                <td style="width: 17%;">
                    <div class="column">KMH</div>
                </td>
                <td style="width: 24%;">
                    <div class="column"><%= qrCode %></div>
                </td>
            </tr>
            <tr>
                <td style="width: 17%;">
                    <div class="column">Lần Ban Hành</div>
                </td>
                <td style="width: 24%;">
                    <div class="column">1</div>
                </td>
            </tr>
        </table>
        
        <div class="infor-container">
            <div class="infor-item">
                <div>Người yêu cầu: <%= creatorName %></div>
                <div>Công trình sử dụng: <%= siteName %></div>
            </div>
            <div class="infor-item">
                <div>Ngày: <%= createDate %></div>
                <div>Dự án: <%= projectName %></div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>TÊN VẬT TƯ</th>
                    <th>HÃNG SẢN XUẤT</th>
                    <th>SỐ LƯỢNG</th>
                    <th>ĐƠN VỊ</th>
                    <th>GHI CHÚ</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(item) { %>
                <tr>
                    <td class="item"><%= item.order %></td>
                    <td class="name-item"><%= item.name %></td>
                    <td class="item"><%= item.provider %></td>
                    <td class="item"><%= item.quantity %></td>
                    <td class="item"><%= item.unit %></td>
                    <td class="description-item"><%= item.description %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
